*.obj
*.o
*.d
*.lib
*.a
*.elf
*.hex
*.exe
*.EXE
*.map
*.ewd
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.avrsuo

test/
dbg/
rel/
spy/
settings/

Debug/
Release/
Spy/

*.CS_/

lib/
obj/
output/

doxygen/html/
lint/*.txt
lint/MISRA_Exemplar_Suite_test/*.txt