# QPCPP Zephyr Module
# Copyright (c) 2022 Victor Chavez
# SPDX-License-Identifier: GPL-3.0-or-later

menuconfig QPCPP
    bool "QPCPP"
    default n
    help
        Enables the QPCPP Module

if QPCPP

config QSPY
	bool "QSPY Tracing"
	default n
	help
	  Enables the QSPY Tracing for QP

module = QPCPP
module-str = QPCPP

endif
